<div class="container">  
    
    <h1> Car Quiz JSON Generator </h1>

    <h2> Selezione una difficoltá </h2>

  
    <table class="table table-striped">  
      <thead>  
          <tr>  
            <th>Brand</th>  
            <th>Modello</th>  
            <th>Anno</th>  
          </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let car of carList">  
            <td>{{ car.brand }}</td>    
            <td>{{ car.model }}</td>    
            <td>{{ car.year }}</td>    
        </tr>  
      </tbody>  
    </table>  
  </div>  