
 // Drop Down per difficoltá

 // Se selezionata difficoltá: Auto intera - Dettaglio grande - Dettaglio piccolo

 // Se selezionato tipo immagine: Listone auto (con Searchbar/Filtri ? ) con selezione fino a 4 opzioni

 // Sezione Fixed on Bot con: auto corretta + 4 opzioni + genera
 // Genera: Fa la magia -> Genera json e lo carica sul cloud server
 // Reset del form

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="main.js"></script>
    <title>Document</title>
</head>
<body>
    
</body>
</html>